{
  "openapi": "3.0.3",
  "info": {
    "title": "Video Endpoints",
    "version": "1.1.0",
    "description": "Talks",
    "license": {
      "name": "ISC"
    },
    "contact": {
      "name": "D-ID"
    }
  },
  "servers": [
    {
      "url": "https://api.d-id.com/"
    }
  ],
  "paths": {
    "/talks": {
      "post": {
        "operationId": "CreateTalk",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the talk"
                    },
                    "object": {
                      "type": "string",
                      "description": "An identifier of this talk"
                    },
                    "created_by": {
                      "type": "string",
                      "description": "The user id of the user that created the talk"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Talk creation time as iso-8601 string"
                    },
                    "status": {
                      "description": "The status of the talk",
                      "enum": [
                        "created",
                        "done",
                        "error",
                        "started",
                        "rejected"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "created_by",
                    "created_at",
                    "status"
                  ],
                  "type": "object",
                  "additionalProperties": false
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "tlk_AbCs-xcz",
                      "object": "talk",
                      "created_at": "2020-09-03T13:56:54.995",
                      "created_by": "123",
                      "status": "created"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "required": [
                    "kind",
                    "description"
                  ],
                  "type": "object",
                  "additionalProperties": false
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "kind": "BadRequestError",
                      "description": "invalid actor url"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AuthorizationError",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "required": [
                    "kind",
                    "description"
                  ],
                  "type": "object",
                  "additionalProperties": false
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "kind": "AuthorizationError",
                      "description": "user unauthenticated"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "InsufficientCreditsError",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "required": [
                    "kind",
                    "description"
                  ],
                  "type": "object",
                  "additionalProperties": false
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "kind": "InsufficientCreditsError",
                      "description": "not enough credits"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "PermissionError",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "required": [
                    "kind",
                    "description"
                  ],
                  "type": "object",
                  "additionalProperties": false
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "kind": "PermissionError",
                      "description": "user has no permission for stitch"
                    }
                  }
                }
              }
            }
          },
          "451": {
            "description": "ImageModerationError | CelebrityRecognizedError | TextModerationError | AudioModerationError",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "required": [
                    "kind",
                    "description"
                  ],
                  "type": "object",
                  "additionalProperties": false
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "kind": "ImageModerationError",
                      "description": "Automatic content moderation - contact support if you would like to submit for manual review"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Create a talk",
        "tags": [
          "Talks"
        ],
        "security": [
          {
            "basic": []
          },
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "description": "It is possible to add external API key for TTS generation, to access the API programmatically. The x-api-key-external header must be added, the required value format is {\"elevenlabs\": \"your-api-key\"}. Note: Your ElevenLabs quota consumes. Example: x-api-key-external: \"{\"elevenlabs\": \"ABCDEFGH123456\"}\"",
            "in": "header",
            "name": "x-api-key-external",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "source_url": {
                    "description": "The URL of the source image to be animated by the driver video, or a selection from the list of provided\nstudio actors.",
                    "type": "string",
                    "example": "https://path.to.directory/image.jpg",
                    "pattern": "(https|s3):.*\\.(?:jpg|jpeg|png|JPG|JPEG|PNG)"
                  },
                  "driver_url": {
                    "description": "The URL of the driver video to drive the talk, or a selection from the list or provided drivers\nIf not provided a driver video will be selected for you from the predefined drivers bank",
                    "example": "bank://natural",
                    "type": "string",
                    "pattern": "(https|s3|bank):\\/\\/.+"
                  },
                  "script": {
                    "anyOf": [
                      {
                        "description": "Text script contains an input text to be spoken by the actor",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "text"
                            ],
                            "nullable": false,
                            "description": "The type of the script."
                          },
                          "subtitles": {
                            "type": "boolean",
                            "description": "Should subtitles be generated for this script",
                            "default": "false"
                          },
                          "provider": {
                            "description": "text-to-speech provider from list of supported providers. default is microsoft tts",
                            "anyOf": [
                              {
                                "description": "AzureMicrosoft provider details, contains the provider type and requested voice id and style",
                                "properties": {
                                  "type": {
                                    "enum": [
                                      "microsoft"
                                    ],
                                    "type": "string"
                                  },
                                  "voice_id": {
                                    "type": "string",
                                    "description": "The voice_id from the list of available voices.\nFor full list of voice_ids: https://docs.d-id.com/reference//tts-microsoft",
                                    "example": "en-US-JennyNeural",
                                    "default": "en-US-JennyNeural"
                                  },
                                  "voice_config": {
                                    "description": "Voice customization options",
                                    "properties": {
                                      "style": {
                                        "type": "string",
                                        "description": "The style of the voice.\nAvailable styles change between voices."
                                      },
                                      "rate": {
                                        "type": "string",
                                        "description": "The speed of the voice.\nThe value is relative to 1, 0.5 being half speed, 2 being twice as fast, etc.\nAnother option is a constant value from x-slow/slow/medium/fast/x-fast.",
                                        "example": "0.5"
                                      },
                                      "pitch": {
                                        "type": "string",
                                        "description": "The pitch of the voice.\nValue could be an absolute value in Hz (including units), a relative value in Hz or st(semitones)\nor a constant value from x-low/low/medium/high/x-high.",
                                        "example": "+2st"
                                      }
                                    },
                                    "type": "object",
                                    "additionalProperties": false
                                  }
                                },
                                "required": [
                                  "type",
                                  "voice_id"
                                ],
                                "type": "object",
                                "additionalProperties": false
                              },
                              {
                                "description": "Elevenlabs provider details, contains the provider type and requested voice id",
                                "properties": {
                                  "type": {
                                    "enum": [
                                      "elevenlabs"
                                    ],
                                    "type": "string"
                                  },
                                  "voice_id": {
                                    "type": "string",
                                    "description": "The voice_id from the list of available voices.\nFor full list of voice_ids: https://api.elevenlabs.io/v1/voices",
                                    "example": "21m00Tcm4TlvDq8ikWAM",
                                    "default": "21m00Tcm4TlvDq8ikWAM"
                                  },
                                  "voice_config": {
                                    "description": "Voice customization options",
                                    "properties": {
                                      "stability": {
                                        "type": "number",
                                        "format": "double",
                                        "description": "The stability of the voice.",
                                        "example": "0.5",
                                        "minimum": 0,
                                        "maximum": 1
                                      },
                                      "similarity_boost": {
                                        "type": "number",
                                        "format": "double",
                                        "description": "The similarity boost of the voice.",
                                        "example": "0.75",
                                        "minimum": 0,
                                        "maximum": 1
                                      }
                                    },
                                    "type": "object",
                                    "additionalProperties": false
                                  },
                                  "model_id": {
                                    "type": "string",
                                    "description": "The model id from the list of available models. https://elevenlabs.io/docs/speech-synthesis/models.",
                                    "example": "eleven_multilingual_v2",
                                    "default": "eleven_multilingual_v2"
                                  }
                                },
                                "required": [
                                  "type",
                                  "voice_id"
                                ],
                                "type": "object",
                                "additionalProperties": false
                              },
                              {
                                "description": "Amazon provider details, contains the provider type and requested voice id",
                                "properties": {
                                  "type": {
                                    "enum": [
                                      "amazon"
                                    ],
                                    "type": "string"
                                  },
                                  "voice_id": {
                                    "description": "The voice_id from the list of available voices.\nFor full list of voice_ids: https://docs.d-id.com/reference/tts-amazon",
                                    "example": "Joanna",
                                    "type": "string",
                                    "enum": [
                                      "Amy",
                                      "Aria",
                                      "Ayanda",
                                      "Bianca",
                                      "Brian",
                                      "Camila",
                                      "Emma",
                                      "Gabrielle",
                                      "Ivy",
                                      "Joanna",
                                      "Joey",
                                      "Justin",
                                      "Kendra",
                                      "Kevin",
                                      "Kimberly",
                                      "Lea",
                                      "Lucia",
                                      "Lupe",
                                      "Matthew",
                                      "Olivia",
                                      "Salli",
                                      "Seoyeon",
                                      "Takumi",
                                      "Vicki"
                                    ],
                                    "nullable": false
                                  }
                                },
                                "required": [
                                  "type",
                                  "voice_id"
                                ],
                                "type": "object",
                                "additionalProperties": false
                              },
                              {
                                "description": "Afflorithmics provider details, contains the provider type and requested voice id",
                                "properties": {
                                  "type": {
                                    "enum": [
                                      "afflorithmics"
                                    ],
                                    "type": "string"
                                  },
                                  "voice_id": {
                                    "type": "string",
                                    "description": "The voice_id from the list of available voices.",
                                    "example": "1a2Bc4dE5fGh",
                                    "default": "1a2Bc4dE5fGh"
                                  },
                                  "voice_config": {
                                    "description": "Voice customization options. Read more here: https://docs.audiostack.ai/reference/postspeech",
                                    "properties": {
                                      "rate": {
                                        "type": "string",
                                        "description": "The speed of the voice.\nThe value is relative to 1, 0.5 being half speed, 2 being twice as fast, etc.\nAnother option is a constant value from x-slow/slow/medium/fast/x-fast.",
                                        "example": "1.2",
                                        "default": "1"
                                      },
                                      "silencePadding": {
                                        "type": "number",
                                        "format": "double",
                                        "description": "Amount of microseconds for silence padding. Half of the amount is inserted as silence at the beginning and at the end of each Speech file."
                                      },
                                      "voiceIntelligence": {
                                        "type": "boolean",
                                        "description": "Flag to apply lexicographical text corrections"
                                      }
                                    },
                                    "type": "object",
                                    "additionalProperties": false
                                  }
                                },
                                "required": [
                                  "type",
                                  "voice_id"
                                ],
                                "type": "object",
                                "additionalProperties": false
                              },
                              {
                                "properties": {
                                  "type": {
                                    "enum": [
                                      "google"
                                    ],
                                    "type": "string"
                                  },
                                  "voice_id": {
                                    "type": "string",
                                    "description": "The voice_id from the list of available voices.",
                                    "example": "he-IL-Wavenet-A",
                                    "default": "he-IL-Wavenet-A"
                                  }
                                },
                                "required": [
                                  "type",
                                  "voice_id"
                                ],
                                "type": "object",
                                "additionalProperties": false
                              }
                            ]
                          },
                          "input": {
                            "type": "string",
                            "description": "The input text that will be synthesized to an audio file.\nNote that each provider has its own limitations on the text length.\naudio duration is furhter limited in streaming to `01:30` minutes",
                            "example": "This is an example text",
                            "maxLength": 40000,
                            "minLength": 3
                          },
                          "ssml": {
                            "type": "boolean",
                            "description": "Is the text provided in `SSML` form"
                          }
                        },
                        "required": [
                          "type",
                          "input"
                        ],
                        "type": "object",
                        "additionalProperties": false
                      },
                      {
                        "description": "Audio script contains an audio file url to be spoken by the actor",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "audio"
                            ],
                            "nullable": false,
                            "description": "The type of the script."
                          },
                          "subtitles": {
                            "type": "boolean",
                            "description": "Should subtitles be generated for this script",
                            "default": "false"
                          },
                          "audio_url": {
                            "description": "The URL of the audio file which will be used by the actor.\nFile size is limit to 15MB.",
                            "type": "string",
                            "example": "https://path.to/audio.mp3",
                            "pattern": "^(https|s3):\\/\\/[\\S]+\\.(?:m4a|M4A|flac|FLAC|mp3|MP3|mp4|MP4|wav|WAV)([?#][\\w.\\/=&#%-]+)?$"
                          },
                          "reduce_noise": {
                            "type": "boolean",
                            "description": "Use noise reduction to improve sync quality",
                            "default": "false"
                          }
                        },
                        "required": [
                          "type",
                          "audio_url"
                        ],
                        "type": "object",
                        "additionalProperties": false
                      }
                    ]
                  },
                  "config": {
                    "description": "Advanced configuration options",
                    "properties": {
                      "logo": {
                        "anyOf": [
                          {
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "https url to an ARGB jpg/png image, a default logo is used otherwise",
                                "pattern": "((https|s3):\\/\\/.+)"
                              },
                              "position": {
                                "items": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "type": "array",
                                "description": "position of the logo in pixels from the top left corner (w,h) negative values are subtracted from last pixel",
                                "example": [
                                  0,
                                  500
                                ],
                                "minItems": 2,
                                "maxItems": 2
                              }
                            },
                            "required": [
                              "url",
                              "position"
                            ],
                            "type": "object",
                            "additionalProperties": false
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      },
                      "align_driver": {
                        "type": "boolean",
                        "description": "Auto crops the driver face, ignored if using drivers bank"
                      },
                      "align_expand_factor": {
                        "type": "number",
                        "format": "double",
                        "description": "The amount of expansion % used for face cropping"
                      },
                      "auto_match": {
                        "type": "boolean",
                        "description": "Finds the best anchor match for the source in driver video"
                      },
                      "motion_factor": {
                        "type": "number",
                        "format": "double",
                        "description": "Amplifies or damps the animation movements"
                      },
                      "normalization_factor": {
                        "type": "number",
                        "format": "double",
                        "description": "Normalizes the expression of the source image [0., 1.], 0. means no normalization",
                        "minimum": 0,
                        "maximum": 1
                      },
                      "sharpen": {
                        "type": "boolean",
                        "description": "Sharpen results."
                      },
                      "stitch": {
                        "type": "boolean",
                        "description": "Stitch back the animated result to the original image"
                      },
                      "result_format": {
                        "description": "File format of the animated result",
                        "type": "string",
                        "enum": [
                          "mp4",
                          "gif",
                          "mov"
                        ]
                      },
                      "fluent": {
                        "type": "boolean",
                        "description": "Interpolate between the last & first frames of the driver video\nWhen used together with `pad_audio` can create a seamless transition between videos of the same driver",
                        "default": "false"
                      },
                      "pad_audio": {
                        "type": "number",
                        "format": "double",
                        "description": "Pad the audio with silence at the end (given in seconds)\nWill increase the video duration & the credits it consumes",
                        "default": "0.0",
                        "minimum": 0,
                        "maximum": 60
                      },
                      "driver_expressions": {
                        "description": "timed expressions for animation, the current expression is not cleared until a new expression is defined.\nPossible expressions include `happy`, `neutral` and more.",
                        "properties": {
                          "expressions": {
                            "items": {
                              "properties": {
                                "start_frame": {
                                  "type": "number",
                                  "format": "double",
                                  "description": "The frame number for the expression start point.",
                                  "minimum": 0
                                },
                                "expression": {
                                  "description": "The expression to use",
                                  "enum": [
                                    "neutral",
                                    "happy",
                                    "serious",
                                    "surprise"
                                  ],
                                  "type": "string"
                                },
                                "intensity": {
                                  "type": "number",
                                  "format": "double",
                                  "description": "Controls the intensity you want for this expression (between 0 no expression, 1 maximum)",
                                  "minimum": 0,
                                  "maximum": 1
                                }
                              },
                              "required": [
                                "start_frame",
                                "expression",
                                "intensity"
                              ],
                              "type": "object",
                              "additionalProperties": false
                            },
                            "type": "array",
                            "description": "List of TimedExpression to use"
                          },
                          "transition_frames": {
                            "type": "number",
                            "format": "double",
                            "description": "Number of frames to use for the transition between expressions",
                            "minimum": 0
                          }
                        },
                        "required": [
                          "expressions"
                        ],
                        "type": "object",
                        "additionalProperties": false
                      }
                    },
                    "type": "object",
                    "additionalProperties": false
                  },
                  "user_data": {
                    "description": "Non-sensitive custom data that will be added to the talk response and webhook",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500,
                    "pattern": "^(?!\\s*$).+$"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the talk video"
                  },
                  "webhook": {
                    "description": "A webhook URL for sending the payload including animate details\nIn a case of empty value, the webhook will not be triggered",
                    "example": "https://host.domain.tld/to/webhook",
                    "type": "string",
                    "pattern": "^(?:https):\\/\\/[\\S]+$"
                  },
                  "result_url": {
                    "description": "The URL of the talk video, if not provided use default destination.",
                    "example": "https://path.to.directory/",
                    "type": "string",
                    "pattern": "(https|s3):\\/\\/.+"
                  },
                  "face": {
                    "description": "The face to animate - otherwise detects the face automatically",
                    "example": {
                      "top_left": [
                        0,
                        0
                      ],
                      "size": 512
                    },
                    "properties": {
                      "size": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Size of the square side",
                        "minimum": 0
                      },
                      "top_left": {
                        "items": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "type": "array",
                        "description": "Top left location of the face in the frame - can be negative",
                        "minItems": 2,
                        "maxItems": 2
                      },
                      "overlap": {
                        "enum": [
                          "NO",
                          "PARTIAL",
                          "YES",
                          "UNKNOWN"
                        ],
                        "type": "string"
                      },
                      "face_id": {
                        "type": "string"
                      },
                      "detect_confidence": {
                        "type": "number",
                        "format": "double"
                      },
                      "sharpness": {
                        "type": "number",
                        "format": "double"
                      },
                      "face_occluded": {
                        "type": "boolean"
                      },
                      "face_occluded_confidence": {
                        "type": "number",
                        "format": "double"
                      },
                      "detection": {
                        "properties": {
                          "top": {
                            "type": "number",
                            "format": "double"
                          },
                          "left": {
                            "type": "number",
                            "format": "double"
                          },
                          "bottom": {
                            "type": "number",
                            "format": "double"
                          },
                          "right": {
                            "type": "number",
                            "format": "double"
                          }
                        },
                        "required": [
                          "top",
                          "left",
                          "bottom",
                          "right"
                        ],
                        "type": "object",
                        "additionalProperties": false
                      }
                    },
                    "required": [
                      "size",
                      "top_left"
                    ],
                    "type": "object",
                    "additionalProperties": false
                  },
                  "persist": {
                    "type": "boolean",
                    "description": "Whether the video should remain in storage without TTL."
                  }
                },
                "required": [
                  "source_url",
                  "script"
                ],
                "type": "object",
                "additionalProperties": false
              }
            }
          }
        }
      },
      "get": {
        "operationId": "GetTalks",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "talks": {
                      "items": {
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the object"
                          },
                          "user_id": {
                            "type": "string",
                            "description": "Unique identifier of the user that submitted the talk"
                          },
                          "source_url": {
                            "type": "string",
                            "description": "The URL of the source image to be animated by the driver video. Image type of .jpg | .png"
                          },
                          "driver_url": {
                            "type": "string",
                            "description": "The URL of the driver video to drive the talk, if not provided a driver video will be selected for you from the predefined DriversBank"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Talk creation time as iso-8601 string"
                          },
                          "created_by": {
                            "type": "string",
                            "description": "The user id of the user that created the talk"
                          },
                          "audio_url": {
                            "description": "The URL of the audio file which will be used by the actor",
                            "example": "https://path.to/audio.mp3",
                            "type": "string",
                            "pattern": "^(?:https):\\/\\/[\\S]+$"
                          },
                          "started_at": {
                            "type": "string",
                            "description": "Talk start time as iso-8601 string"
                          },
                          "modified_at": {
                            "type": "string",
                            "description": "last modified time as iso-8601 string"
                          },
                          "status": {
                            "description": "The status of the talk",
                            "enum": [
                              "created",
                              "done",
                              "error",
                              "started",
                              "rejected"
                            ],
                            "type": "string"
                          },
                          "result_url": {
                            "type": "string",
                            "description": "s3 uri to the resulting video"
                          },
                          "metadata": {
                            "description": "metadata that has been collected through the process",
                            "properties": {},
                            "type": "object"
                          },
                          "webhook": {
                            "type": "string",
                            "description": "A webhook URL for sending the payload including animate details. In a case of empty value, the webhook will not be triggered"
                          },
                          "config": {
                            "description": "The configuration that used to process the talk",
                            "properties": {
                              "logo": {
                                "anyOf": [
                                  {
                                    "properties": {
                                      "url": {
                                        "type": "string",
                                        "description": "https url to an ARGB jpg/png image, a default logo is used otherwise",
                                        "pattern": "((https|s3):\\/\\/.+)"
                                      },
                                      "position": {
                                        "items": {
                                          "type": "integer",
                                          "format": "int32"
                                        },
                                        "type": "array",
                                        "description": "position of the logo in pixels from the top left corner (w,h) negative values are subtracted from last pixel",
                                        "example": [
                                          0,
                                          500
                                        ],
                                        "minItems": 2,
                                        "maxItems": 2
                                      }
                                    },
                                    "required": [
                                      "url",
                                      "position"
                                    ],
                                    "type": "object",
                                    "additionalProperties": false
                                  },
                                  {
                                    "type": "boolean"
                                  }
                                ]
                              },
                              "align_driver": {
                                "type": "boolean",
                                "description": "Auto crops the driver face, ignored if using drivers bank"
                              },
                              "align_expand_factor": {
                                "type": "number",
                                "format": "double",
                                "description": "The amount of expansion % used for face cropping"
                              },
                              "auto_match": {
                                "type": "boolean",
                                "description": "Finds the best anchor match for the source in driver video"
                              },
                              "motion_factor": {
                                "type": "number",
                                "format": "double",
                                "description": "Amplifies or damps the animation movements"
                              },
                              "normalization_factor": {
                                "type": "number",
                                "format": "double",
                                "description": "Normalizes the expression of the source image [0., 1.], 0. means no normalization",
                                "minimum": 0,
                                "maximum": 1
                              },
                              "sharpen": {
                                "type": "boolean",
                                "description": "Sharpen results."
                              },
                              "stitch": {
                                "type": "boolean",
                                "description": "Stitch back the animated result to the original image"
                              },
                              "result_format": {
                                "description": "File format of the animated result",
                                "type": "string",
                                "enum": [
                                  "mp4",
                                  "gif",
                                  "mov"
                                ]
                              },
                              "fluent": {
                                "type": "boolean",
                                "description": "Interpolate between the last & first frames of the driver video\nWhen used together with `pad_audio` can create a seamless transition between videos of the same driver",
                                "default": "false"
                              },
                              "pad_audio": {
                                "type": "number",
                                "format": "double",
                                "description": "Pad the audio with silence at the end (given in seconds)\nWill increase the video duration & the credits it consumes",
                                "default": "0.0",
                                "minimum": 0,
                                "maximum": 60
                              },
                              "driver_expressions": {
                                "description": "timed expressions for animation, the current expression is not cleared until a new expression is defined.\nPossible expressions include `happy`, `neutral` and more.",
                                "properties": {
                                  "expressions": {
                                    "items": {
                                      "properties": {
                                        "start_frame": {
                                          "type": "number",
                                          "format": "double",
                                          "description": "The frame number for the expression start point.",
                                          "minimum": 0
                                        },
                                        "expression": {
                                          "description": "The expression to use",
                                          "enum": [
                                            "neutral",
                                            "happy",
                                            "serious",
                                            "surprise"
                                          ],
                                          "type": "string"
                                        },
                                        "intensity": {
                                          "type": "number",
                                          "format": "double",
                                          "description": "Controls the intensity you want for this expression (between 0 no expression, 1 maximum)",
                                          "minimum": 0,
                                          "maximum": 1
                                        }
                                      },
                                      "required": [
                                        "start_frame",
                                        "expression",
                                        "intensity"
                                      ],
                                      "type": "object",
                                      "additionalProperties": false
                                    },
                                    "type": "array",
                                    "description": "List of TimedExpression to use"
                                  },
                                  "transition_frames": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "Number of frames to use for the transition between expressions",
                                    "minimum": 0
                                  }
                                },
                                "required": [
                                  "expressions"
                                ],
                                "type": "object",
                                "additionalProperties": false
                              }
                            },
                            "type": "object",
                            "additionalProperties": false
                          }
                        },
                        "required": [
                          "id",
                          "user_id",
                          "source_url",
                          "created_at",
                          "modified_at",
                          "status"
                        ],
                        "type": "object",
                        "additionalProperties": false
                      },
                      "type": "array"
                    },
                    "token": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "talks"
                  ],
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "AuthorizationError",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "required": [
                    "kind",
                    "description"
                  ],
                  "type": "object",
                  "additionalProperties": false
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "kind": "AuthorizationError",
                      "description": "user unauthenticated"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Get talks",
        "tags": [
          "Talks"
        ],
        "security": [
          {
            "basic": []
          },
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "description": "pagination - the amount of talks to return",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 100,
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "pagination - the pagination token from the previous response, default = 100",
            "in": "query",
            "name": "token",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/talks/{id}": {
      "get": {
        "operationId": "GetTalk",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for the object"
                    },
                    "user_id": {
                      "type": "string",
                      "description": "Unique identifier of the user that submitted the talk"
                    },
                    "source_url": {
                      "type": "string",
                      "description": "The URL of the source image to be animated by the driver video. Image type of .jpg | .png"
                    },
                    "driver_url": {
                      "type": "string",
                      "description": "The URL of the driver video to drive the talk, if not provided a driver video will be selected for you from the predefined DriversBank"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Talk creation time as iso-8601 string"
                    },
                    "created_by": {
                      "type": "string",
                      "description": "The user id of the user that created the talk"
                    },
                    "audio_url": {
                      "description": "The URL of the audio file which will be used by the actor",
                      "example": "https://path.to/audio.mp3",
                      "type": "string",
                      "pattern": "^(?:https):\\/\\/[\\S]+$"
                    },
                    "started_at": {
                      "type": "string",
                      "description": "Talk start time as iso-8601 string"
                    },
                    "modified_at": {
                      "type": "string",
                      "description": "last modified time as iso-8601 string"
                    },
                    "status": {
                      "description": "The status of the talk",
                      "enum": [
                        "created",
                        "done",
                        "error",
                        "started",
                        "rejected"
                      ],
                      "type": "string"
                    },
                    "result_url": {
                      "type": "string",
                      "description": "s3 uri to the resulting video"
                    },
                    "metadata": {
                      "description": "metadata that has been collected through the process",
                      "properties": {},
                      "type": "object"
                    },
                    "webhook": {
                      "type": "string",
                      "description": "A webhook URL for sending the payload including animate details. In a case of empty value, the webhook will not be triggered"
                    },
                    "config": {
                      "description": "The configuration that used to process the talk",
                      "properties": {
                        "logo": {
                          "anyOf": [
                            {
                              "properties": {
                                "url": {
                                  "type": "string",
                                  "description": "https url to an ARGB jpg/png image, a default logo is used otherwise",
                                  "pattern": "((https|s3):\\/\\/.+)"
                                },
                                "position": {
                                  "items": {
                                    "type": "integer",
                                    "format": "int32"
                                  },
                                  "type": "array",
                                  "description": "position of the logo in pixels from the top left corner (w,h) negative values are subtracted from last pixel",
                                  "example": [
                                    0,
                                    500
                                  ],
                                  "minItems": 2,
                                  "maxItems": 2
                                }
                              },
                              "required": [
                                "url",
                                "position"
                              ],
                              "type": "object",
                              "additionalProperties": false
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        },
                        "align_driver": {
                          "type": "boolean",
                          "description": "Auto crops the driver face, ignored if using drivers bank"
                        },
                        "align_expand_factor": {
                          "type": "number",
                          "format": "double",
                          "description": "The amount of expansion % used for face cropping"
                        },
                        "auto_match": {
                          "type": "boolean",
                          "description": "Finds the best anchor match for the source in driver video"
                        },
                        "motion_factor": {
                          "type": "number",
                          "format": "double",
                          "description": "Amplifies or damps the animation movements"
                        },
                        "normalization_factor": {
                          "type": "number",
                          "format": "double",
                          "description": "Normalizes the expression of the source image [0., 1.], 0. means no normalization",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "sharpen": {
                          "type": "boolean",
                          "description": "Sharpen results."
                        },
                        "stitch": {
                          "type": "boolean",
                          "description": "Stitch back the animated result to the original image"
                        },
                        "result_format": {
                          "description": "File format of the animated result",
                          "type": "string",
                          "enum": [
                            "mp4",
                            "gif",
                            "mov"
                          ]
                        },
                        "fluent": {
                          "type": "boolean",
                          "description": "Interpolate between the last & first frames of the driver video\nWhen used together with `pad_audio` can create a seamless transition between videos of the same driver",
                          "default": "false"
                        },
                        "pad_audio": {
                          "type": "number",
                          "format": "double",
                          "description": "Pad the audio with silence at the end (given in seconds)\nWill increase the video duration & the credits it consumes",
                          "default": "0.0",
                          "minimum": 0,
                          "maximum": 60
                        },
                        "driver_expressions": {
                          "description": "timed expressions for animation, the current expression is not cleared until a new expression is defined.\nPossible expressions include `happy`, `neutral` and more.",
                          "properties": {
                            "expressions": {
                              "items": {
                                "properties": {
                                  "start_frame": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The frame number for the expression start point.",
                                    "minimum": 0
                                  },
                                  "expression": {
                                    "description": "The expression to use",
                                    "enum": [
                                      "neutral",
                                      "happy",
                                      "serious",
                                      "surprise"
                                    ],
                                    "type": "string"
                                  },
                                  "intensity": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "Controls the intensity you want for this expression (between 0 no expression, 1 maximum)",
                                    "minimum": 0,
                                    "maximum": 1
                                  }
                                },
                                "required": [
                                  "start_frame",
                                  "expression",
                                  "intensity"
                                ],
                                "type": "object",
                                "additionalProperties": false
                              },
                              "type": "array",
                              "description": "List of TimedExpression to use"
                            },
                            "transition_frames": {
                              "type": "number",
                              "format": "double",
                              "description": "Number of frames to use for the transition between expressions",
                              "minimum": 0
                            }
                          },
                          "required": [
                            "expressions"
                          ],
                          "type": "object",
                          "additionalProperties": false
                        }
                      },
                      "type": "object",
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "id",
                    "user_id",
                    "source_url",
                    "created_at",
                    "modified_at",
                    "status"
                  ],
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "AuthorizationError",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "required": [
                    "kind",
                    "description"
                  ],
                  "type": "object",
                  "additionalProperties": false
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "kind": "AuthorizationError",
                      "description": "user unauthenticated"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFoundError",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "required": [
                    "kind",
                    "description"
                  ],
                  "type": "object",
                  "additionalProperties": false
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "kind": "NotFoundError",
                      "description": "not found"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Get a specific talk",
        "tags": [
          "Talks"
        ],
        "security": [
          {
            "basic": []
          },
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "operationId": "DeleteTalk",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for the object"
                    },
                    "user_id": {
                      "type": "string",
                      "description": "Unique identifier of the user that submitted the talk"
                    },
                    "source_url": {
                      "type": "string",
                      "description": "The URL of the source image to be animated by the driver video. Image type of .jpg | .png"
                    },
                    "driver_url": {
                      "type": "string",
                      "description": "The URL of the driver video to drive the talk, if not provided a driver video will be selected for you from the predefined DriversBank"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Talk creation time as iso-8601 string"
                    },
                    "created_by": {
                      "type": "string",
                      "description": "The user id of the user that created the talk"
                    },
                    "audio_url": {
                      "description": "The URL of the audio file which will be used by the actor",
                      "example": "https://path.to/audio.mp3",
                      "type": "string",
                      "pattern": "^(?:https):\\/\\/[\\S]+$"
                    },
                    "started_at": {
                      "type": "string",
                      "description": "Talk start time as iso-8601 string"
                    },
                    "modified_at": {
                      "type": "string",
                      "description": "last modified time as iso-8601 string"
                    },
                    "status": {
                      "description": "The status of the talk",
                      "enum": [
                        "created",
                        "done",
                        "error",
                        "started",
                        "rejected"
                      ],
                      "type": "string"
                    },
                    "result_url": {
                      "type": "string",
                      "description": "s3 uri to the resulting video"
                    },
                    "metadata": {
                      "description": "metadata that has been collected through the process",
                      "properties": {},
                      "type": "object"
                    },
                    "webhook": {
                      "type": "string",
                      "description": "A webhook URL for sending the payload including animate details. In a case of empty value, the webhook will not be triggered"
                    },
                    "config": {
                      "description": "The configuration that used to process the talk",
                      "properties": {
                        "logo": {
                          "anyOf": [
                            {
                              "properties": {
                                "url": {
                                  "type": "string",
                                  "description": "https url to an ARGB jpg/png image, a default logo is used otherwise",
                                  "pattern": "((https|s3):\\/\\/.+)"
                                },
                                "position": {
                                  "items": {
                                    "type": "integer",
                                    "format": "int32"
                                  },
                                  "type": "array",
                                  "description": "position of the logo in pixels from the top left corner (w,h) negative values are subtracted from last pixel",
                                  "example": [
                                    0,
                                    500
                                  ],
                                  "minItems": 2,
                                  "maxItems": 2
                                }
                              },
                              "required": [
                                "url",
                                "position"
                              ],
                              "type": "object",
                              "additionalProperties": false
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        },
                        "align_driver": {
                          "type": "boolean",
                          "description": "Auto crops the driver face, ignored if using drivers bank"
                        },
                        "align_expand_factor": {
                          "type": "number",
                          "format": "double",
                          "description": "The amount of expansion % used for face cropping"
                        },
                        "auto_match": {
                          "type": "boolean",
                          "description": "Finds the best anchor match for the source in driver video"
                        },
                        "motion_factor": {
                          "type": "number",
                          "format": "double",
                          "description": "Amplifies or damps the animation movements"
                        },
                        "normalization_factor": {
                          "type": "number",
                          "format": "double",
                          "description": "Normalizes the expression of the source image [0., 1.], 0. means no normalization",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "sharpen": {
                          "type": "boolean",
                          "description": "Sharpen results."
                        },
                        "stitch": {
                          "type": "boolean",
                          "description": "Stitch back the animated result to the original image"
                        },
                        "result_format": {
                          "description": "File format of the animated result",
                          "type": "string",
                          "enum": [
                            "mp4",
                            "gif",
                            "mov"
                          ]
                        },
                        "fluent": {
                          "type": "boolean",
                          "description": "Interpolate between the last & first frames of the driver video\nWhen used together with `pad_audio` can create a seamless transition between videos of the same driver",
                          "default": "false"
                        },
                        "pad_audio": {
                          "type": "number",
                          "format": "double",
                          "description": "Pad the audio with silence at the end (given in seconds)\nWill increase the video duration & the credits it consumes",
                          "default": "0.0",
                          "minimum": 0,
                          "maximum": 60
                        },
                        "driver_expressions": {
                          "description": "timed expressions for animation, the current expression is not cleared until a new expression is defined.\nPossible expressions include `happy`, `neutral` and more.",
                          "properties": {
                            "expressions": {
                              "items": {
                                "properties": {
                                  "start_frame": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The frame number for the expression start point.",
                                    "minimum": 0
                                  },
                                  "expression": {
                                    "description": "The expression to use",
                                    "enum": [
                                      "neutral",
                                      "happy",
                                      "serious",
                                      "surprise"
                                    ],
                                    "type": "string"
                                  },
                                  "intensity": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "Controls the intensity you want for this expression (between 0 no expression, 1 maximum)",
                                    "minimum": 0,
                                    "maximum": 1
                                  }
                                },
                                "required": [
                                  "start_frame",
                                  "expression",
                                  "intensity"
                                ],
                                "type": "object",
                                "additionalProperties": false
                              },
                              "type": "array",
                              "description": "List of TimedExpression to use"
                            },
                            "transition_frames": {
                              "type": "number",
                              "format": "double",
                              "description": "Number of frames to use for the transition between expressions",
                              "minimum": 0
                            }
                          },
                          "required": [
                            "expressions"
                          ],
                          "type": "object",
                          "additionalProperties": false
                        }
                      },
                      "type": "object",
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "id",
                    "user_id",
                    "source_url",
                    "created_at",
                    "modified_at",
                    "status"
                  ],
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "AuthorizationError",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "required": [
                    "kind",
                    "description"
                  ],
                  "type": "object",
                  "additionalProperties": false
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "kind": "AuthorizationError",
                      "description": "user unauthenticated"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFoundError",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "required": [
                    "kind",
                    "description"
                  ],
                  "type": "object",
                  "additionalProperties": false
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "kind": "NotFoundError",
                      "description": "not found"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "NotReadyError",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "required": [
                    "kind",
                    "description"
                  ],
                  "type": "object",
                  "additionalProperties": false
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "kind": "NotReadyError",
                      "description": "talk is in process, try again later"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Delete a specific talk",
        "tags": [
          "Talks"
        ],
        "security": [
          {
            "basic": []
          },
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/talks/streams": {
      "post": {
        "operationId": "CreateStream",
        "responses": {
          "201": {
            "description": "Created stream",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "session_id": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string",
                      "description": "Id of the stream - should be returned as *path parameter* in all streaming request to the same stream"
                    },
                    "jsep": {
                      "description": "Jsep offer object used to create a peer connection",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "offer"
                          ],
                          "nullable": false,
                          "description": "The session description object describes the initial proposal in an offer/answer exchange."
                        },
                        "sdp": {
                          "type": "string",
                          "description": "Describe the media communication sessions to accept the session the is being negotiated"
                        }
                      },
                      "required": [
                        "type",
                        "sdp"
                      ],
                      "type": "object",
                      "additionalProperties": false
                    },
                    "ice_servers": {
                      "items": {
                        "properties": {
                          "urls": {
                            "anyOf": [
                              {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              {
                                "type": "string"
                              }
                            ],
                            "description": "URL of the server - can be multiple addresses"
                          },
                          "username": {
                            "type": "string",
                            "description": "Username for authentication"
                          },
                          "credential": {
                            "type": "string",
                            "description": "Credintials for secure connection to the server"
                          }
                        },
                        "required": [
                          "urls"
                        ],
                        "type": "object",
                        "additionalProperties": false
                      },
                      "type": "array",
                      "description": "ICE servers used to create a peer connection"
                    }
                  },
                  "required": [
                    "id",
                    "jsep",
                    "ice_servers"
                  ],
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "AuthorizationError",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "required": [
                    "kind",
                    "description"
                  ],
                  "type": "object",
                  "additionalProperties": false
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "kind": "AuthorizationError",
                      "description": "user unauthenticated"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Initiates the creation of a new WebRTC connection to a browser peer. The endpoint returns the necessary information to set up and manage the connection.",
        "summary": "Create a new stream",
        "tags": [
          "Talks Streams"
        ],
        "security": [
          {
            "basic": []
          },
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "user-agent",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "source_url": {
                    "type": "string",
                    "description": "URL to a photo you wish to animate in the stream"
                  },
                  "driver_url": {
                    "type": "string",
                    "description": "The URL of the driver video to drive the talk, or a selection from the list or provided drivers.\nIf not provided a driver video will be selected for you from the predefined drivers bank."
                  },
                  "face": {
                    "description": "the face to animate - otherwise detects the dominant face",
                    "example": {
                      "top_left": [
                        0,
                        0
                      ],
                      "size": 512
                    },
                    "properties": {
                      "size": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Size of the square side",
                        "minimum": 0
                      },
                      "top_left": {
                        "items": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "type": "array",
                        "description": "Top left location of the face in the frame - can be negative",
                        "minItems": 2,
                        "maxItems": 2
                      },
                      "overlap": {
                        "enum": [
                          "NO",
                          "PARTIAL",
                          "YES",
                          "UNKNOWN"
                        ],
                        "type": "string"
                      },
                      "face_id": {
                        "type": "string"
                      },
                      "detect_confidence": {
                        "type": "number",
                        "format": "double"
                      },
                      "sharpness": {
                        "type": "number",
                        "format": "double"
                      },
                      "face_occluded": {
                        "type": "boolean"
                      },
                      "face_occluded_confidence": {
                        "type": "number",
                        "format": "double"
                      },
                      "detection": {
                        "properties": {
                          "top": {
                            "type": "number",
                            "format": "double"
                          },
                          "left": {
                            "type": "number",
                            "format": "double"
                          },
                          "bottom": {
                            "type": "number",
                            "format": "double"
                          },
                          "right": {
                            "type": "number",
                            "format": "double"
                          }
                        },
                        "required": [
                          "top",
                          "left",
                          "bottom",
                          "right"
                        ],
                        "type": "object",
                        "additionalProperties": false
                      }
                    },
                    "required": [
                      "size",
                      "top_left"
                    ],
                    "type": "object",
                    "additionalProperties": false
                  },
                  "config": {
                    "description": "Advanced configuration options.",
                    "properties": {
                      "motion_factor": {
                        "type": "number",
                        "format": "double",
                        "description": "Amplifies or damps the animation movements"
                      },
                      "align_expand_factor": {
                        "type": "number",
                        "format": "double",
                        "description": "The amount of expansion % used for face cropping"
                      },
                      "stitch": {
                        "type": "boolean",
                        "description": "Stitch back the animated result to the original image"
                      }
                    },
                    "type": "object"
                  },
                  "compatibility_mode": {
                    "description": "Defines the video codec to be used in the stream.\nWhen set to on: VP8 will be used.\nWhen set to off: H264 will be used\nWhen set to auto the codec will be selected according to the browser.",
                    "type": "string",
                    "enum": [
                      "on",
                      "off",
                      "auto"
                    ]
                  },
                  "stream_warmup": {
                    "type": "boolean",
                    "description": "Whether to stream wamrup video on the connection.\nIf set to true, will stream a warmup video when connection is established.\nAt the end of the warmup video, a message containing \"stream/ready\" will be sent on the data channel.",
                    "default": "false"
                  },
                  "session_timeout": {
                    "type": "number",
                    "format": "double",
                    "description": "Maximum duration (in seconds) between messages before session times out.\nCan only be used with proper permissions",
                    "example": 180,
                    "maximum": 300
                  },
                  "stream_resolution": {
                    "type": "number",
                    "format": "double",
                    "description": "The stream resolution sets the maximum height or width resolution of the streamed video,\nwith the aspect ratio preserved from the source image.\nCan only be used when 'stitch' is set to true.",
                    "example": 720,
                    "maximum": 1080
                  }
                },
                "required": [
                  "source_url"
                ],
                "type": "object",
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/talks/streams/{id}/sdp": {
      "post": {
        "operationId": "StartConnection",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "SessionError",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "required": [
                    "kind",
                    "description"
                  ],
                  "type": "object",
                  "additionalProperties": false
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "kind": "SessionError",
                      "description": "missing or invalid session_id"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AuthorizationError",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "required": [
                    "kind",
                    "description"
                  ],
                  "type": "object",
                  "additionalProperties": false
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "kind": "AuthorizationError",
                      "description": "user unauthenticated"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Updates the server with the SDP answer to the SDP offer received from the initial call to the `/streams` endpoint, during the offer/answer negotiation of a WebRTC connection.",
        "summary": "Start a stream",
        "tags": [
          "Talks Streams"
        ],
        "security": [
          {
            "basic": []
          },
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "description": "the stream identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "cookie",
            "required": false,
            "schema": {
              "type": "string"
            },
            "deprecated": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "session_id": {
                    "type": "string",
                    "description": "Session identifier information, should be returned in the body of all streaming requests (from the response\nof the POST /streams)"
                  },
                  "answer": {
                    "description": "Jsep answer object used to create a peer connection",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "answer"
                        ],
                        "nullable": false,
                        "description": "The SDP contained in the sdp property is the definitive choice in the exchange. In other words, this session\ndescription describes the agreed-upon configuration, and is being sent to finalize negotiation."
                      },
                      "sdp": {
                        "type": "string",
                        "description": "Describe the media communication sessions to accept the session the is being negotiated"
                      }
                    },
                    "required": [
                      "type",
                      "sdp"
                    ],
                    "type": "object",
                    "additionalProperties": false
                  }
                },
                "required": [
                  "answer"
                ],
                "type": "object",
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/talks/streams/{id}/ice": {
      "post": {
        "operationId": "AddIceCandidate",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "SessionError",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "required": [
                    "kind",
                    "description"
                  ],
                  "type": "object",
                  "additionalProperties": false
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "kind": "SessionError",
                      "description": "missing or invalid session_id"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AuthorizationError",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "details": {}
                  },
                  "required": [
                    "kind",
                    "description"
                  ],
                  "type": "object",
[...]
